<html>
  <head>
    <title>The Union of Kitty and Marcus</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="app.js"></script>
  </head>
  <body ng-app="guestApp" >
    <ui-view></ui-view>

    <script type="text/ng-template" id="/home.html">
      <div>
        <h1>The Union of Kitty and Marcus</h1>
      </div>

      <div ng-repeat="guest in guests | orderBy: '-isAttending'">
      {{guest.name_first}} - Attending {{guest.isAttending}}
      </div>
      <form ng-submit="addGuest()">
        <input type="text" placeholder="First Name" ng-model="name_first"></input>
        <br>
        <label>
        <input type="radio" ng-model="isAttending" value="true" >
          Yes
        </label><br/>
        <label>
          <input type="radio" ng-model="isAttending" ng-value="false">
          No
        </label>
        <br>
        <br>
        <button type="submit">Add Guest</button>
      </form>
    </script>
  </body>
</html>
