<div class="row">       
  <div class="col-sm-6 col-md-offset-1 col-lg-offset-1">
    <img src="images/kam.png">
    <h3>
    ARE TYING THE KNOT IN
    </h3>
    <iframe src="//free.timeanddate.com/countdown/i4rqbe89/n77/cf11/cm0/cu2/ct2/cs1/ca0/co0/cr0/ss0/cacf1f1f1/cpcf1f1f1/pct/tcfff/fn3/fs200/szw320/szh135/iso2015-09-06T15:00:00" allowTransparency="true" frameborder="0" width="191" height="37"></iframe>
    <h3 class="tagline">
    WE HOPE YOU CAN JOIN US
    </h3>
    <a href="#rsvp" class="btn btn-default btn-lg">RSVP Here</a>
  </div>
  <div class="col-sm-4">
    <img src="images/pol-pic.png">
  </div>
</div>    