<div class="row head-img text-center">
  <img src="images/locales.png">
</div>

<div class="row head-img">
  <div class="col-sm-6 ">

    <a href="http://www.tangentgallery.com/Tangent_Gallery/Home.html">
    <h2>Tangent Gallery</h2>
    </a>
    <h3>715 East Milwaukee Detroit, MI 48202<br>
    (Entrance on Oakland)</h3>
    <h4>Reception Locale</h4>
    <p>
      This is where our guests will meet the shuttle to Belle Isle. There is limited seating on the bus(47 guests). If you have a RECREATION PASSPORT (state park pass) we ask that you join the caravan over to the island, if you can. Carpooling gets you Bonus Points!
    </p>

  </div>
  <div class="col-sm-6 ">
    <a href="http://www.tangentgallery.com/Tangent_Gallery/Home.html">
    <h2>Belle Isle</h2>
    </a>
    <h3>Belle Isle Park Detroit, MI 48209<br>
    Shed 15</h3>
    <h4>Ceremony Locale</h4>
    <p>
      In Between the river and the woods in a lovely spot next to shed 15. The shuttle will drop the guests off just 50 ft from where the ceremony will be held. For those who are driving, a map will be provided to you at the tangent before the shuttle departs.
    </p>
  </div>
</div>

<div class="row head-img text-center">
  <br>
  <p class="lead">Have questions that still need answers?<br>Feel free to call us, or send us an email<br><br>
  <a href="mailto:kittyandmarcus@gmail.com?Subject=Question" target="_top">KittyAndMarcus@gmail.com</a></p>
</div>