<div class="row text-center">
  <img src="images/add-info.png" class="img-responsive" alt="Additional Information">
</div>

<div class="row head-img">
  <div class="col-sm-6 col-md-3 col-md-offset-3 col-lg-3 col-lg-offset-3 text-right">
    <h2>Acomidations</h2>
    <img src="images/curl-l.png">
    <a href="http://www.hotelstregisdetroit.com/"><br>
    <h4>Hotel St. Regis</h4></a>
    <p>Right around the corner a 3-star hotel around $100 per night<br>
    Address: 3071 W Grand Blvd, Detroit, MI 48202<br>
    Phone:(313) 873-3000<br>
    (mandatory valet $20)
    </p>
    <a href="http://www.hotelstregisdetroit.com/">
    <h4>Fairfield Inn</h4></a>
    <p>Just up I-75 a 2-star hotel around $70 per night<br>
    Address: 32800 Stephenson Hwy, Madison Hts, MI 48071<br>
    Phone:(248) 588-3388
    </p>
    <h3>We recommend searching for hotels close to I-75 for other options.</h3>
    <h2>Questions</h2>
    <img src="images/curl-l.png">
    <a href="http://www.hotelstregisdetroit.com/"><br>
    <h3>Have questions that still need answers?<br>Feel free to call us, or send us an email<br>
    <a href="mailto:kittyandmarcus@gmail.com?Subject=Question" target="_top">KittyAndMarcus@gmail</a></h3>

  </div>
  <div class="col-sm-6 col-md-3 col-lg-3 text-left">
    <h2>Inside Info</h2>
    <img src="images/curl-r.png">
    <h3>The ceremony is outside on the grass, so we recommend wearing comfortable shoes. Plus it makes it  easier to dance the night away.</h3>
    
    <h2>Registries</h2>
    <img src="images/curl-r.png">
    <h3>Kitty and Marcus are registered at</h3>
    <h4 class="text-center">
    <a href="http://www.target.com/gift-registry/registry/jx0ZO9Sxh17GFSOKH_oeIw?lnk=copiedLink">
    <img src="images/tg-icon.png"><br><br>
    TARGET</a><br><br>
    -and-<br><br>
    <a href="http://www.amazon.com/registry/wedding/2X770J5NBVA0Z">
    <img src="images/az-icon.png"><br><br>
    AMAZON</a>
    </h4>
</div>

