<div class="row head-img text-center">
  <img src="images/add-info.png">
</div>

<div class="row head-img">
  <div class="col-sm-6 ">
    <h2>Acomidations</h2>
    <a href="http://www.hotelstregisdetroit.com/">
    <h4>Hotel St. Regis</h4></a>
    <p>Right around the corner a 3-star hotel around $100 per night<br>
    Address: 3071 W Grand Blvd, Detroit, MI 48202<br>
    Phone:(313) 873-3000<br>
    (mandatory valet $20)
    </p>
    <a href="http://www.hotelstregisdetroit.com/">
    <h4>Fairfield Inn</h4></a>
    <p>Just up I-75 a 2-star hotel around $70 per night<br>
    Address: 32800 Stephenson Hwy, Madison Hts, MI 48071<br>
    Phone:(248) 588-3388
    </p>
    

  </div>
  <div class="col-sm-6 ">
    <h2> </h2><br>
    <h4>We recommend searching for hotels close to I-75 for other options.</h4>
  </div>
</div>

<div class="row head-img text-center">
  <p class="lead">More info comming soon<br>Have questions that still need answers?<br>Feel free to call us, or send us an email<br><br>
  <a href="mailto:kittyandmarcus@gmail.com?Subject=Question" target="_top">KittyAndMarcus@gmail.com</a></p>
</div>