<div class="row text-center">
  <p>
    <img src="images/timeline.png" class="img-responsive" alt="Our Story"><br>
  </p>
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
    <h2>1:15pm</h2>
    <p>Guests arrive at the Tangent, gathering outside and organizing who will ride the bus and who will carpool with guests who are able to drive.</p>
    <h2>1:30pm</h2>
    <p>Buss is scheduled to leave and the caravan of carpoolers will follow behind</p>
    <h2>2:00pm</h2>
    <p>Guests arrive at Belle Isle, gathering at shed #15. Please take this time to relax and take in the beauty of the island park while the bus makes the trip to pick up the Bridle Party</p>
    <h2>2:45pm</h2>
    <p>Guests form a circle in the clearing next to the shelter and start the "Warming of the Rings"</p>
    <h2>3:00pm</h2>
    <p>The Ceremony begins when the bus arrives carrying the Bridle Party </p>
    <h2>3:30pm</h2>
    <p>Ceremony concludes, guests shuttle/carpool back to the Tangent and the Wedding Party stays on the island for photos</p>
    <h2>4:30pm</h2>
    <p>Guests should be back at the Tangent and appetizers are served</p>
    <h2>5:30pm</h2>
    <p>The wedding party arrives at the Tangent</p>
    <h2>6:00pm</h2>
    <p>Dinner starts</p>
    <h2>8:00pm</h2>
    <p>The Bride and Groom cut the cake and the dancing begins<br>
      (this is the open invite portion of the celebration)</p>
    <h2>12 Midnight</h2>
    <p>The Sendoff</p>


  </div>

</div>