<div class="row text-center">
  <p>
    <p>
      Kitty and Marcus are registered at
      <a href="http://www.target.com/gift-registry/registry/jx0ZO9Sxh17GFSOKH_oeIw?lnk=copiedLink">
      TARGET</a> 
      and 
      <a href="http://www.amazon.com/registry/wedding/2X770J5NBVA0Z">
      AMAZON</a>
    </p>
    <img src="images/wedShower.png" class="img-responsive" alt="RSVP"><br>
  </p>
  <div class="col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4">
    <h2> RSVP by August 13th by email <a href="mailto:kittyandmarcus@gmail.com?Subject=Question" target="_top">KittyAndMarcus@gmail.com</a></h2>
    <a href="https://www.google.com/maps/place/338+E+Webster+St,+Ferndale,+MI+48220/@42.4490831,-83.1232032,17z/data=!3m1!4b1!4m2!3m1!1s0x8824cef65d0d0687:0xbaa4368d4026983b">Click for the Map</a>

  </div>

</div>